<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EcomTestSuite" verbose="1" thread-count="3" parallel="methods">
	<listeners>
        <listener class-name="org.ats.ecom_testing.utils.AllureListener"/>
        <listener class-name="org.ats.ecom_testing.utils.RetryListener"></listener>
    </listeners>
	 <parameter name="browser" value="chrome"/>
	<test name="checkout">
		<groups>
			<run>
				<include name="checkout"></include>
			</run>
		</groups>
		<classes>
			<class name="org.ats.ecom_testing.tests.LoginAndCheckout"></class>
			<class name="org.ats.ecom_testing.tests.PlaceOrderAndRegisterTest"></class>
			<class name="org.ats.ecom_testing.tests.RegisterAndCheckoutTest"></class>
		</classes>
	</test>
	
	
	 


</suite>